@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/alumni-sans-v18-latin/alumni-sans-v18-latin-600.woff2") format("woff2");
  color: $color-main;
}

@font-face {
  font-family: "Alumni Sans ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/alumni-sans-v18-latin/alumni-sans-v18-latin-800.woff2") format("woff2");
  color: $color-main;
}

//Roboto Condensed

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/roboto-condensed-v27-latin/roboto-condensed-v27-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/roboto-condensed-v27-latin/roboto-condensed-v27-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/roboto-condensed-v27-latin/roboto-condensed-v27-latin-700.woff2") format("woff2");
}
