@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/AlumniSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Alumni Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../fonts/AlumniSans-ExtraBold.woff2") format("woff2");
}

//Roboto Condensed
/* roboto-condensed-300 - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-condensed-v27-cyrillic-300.woff2') format('woff2');
}
/* roboto-condensed-regular - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-condensed-v27-cyrillic-regular.woff2') format('woff2');
}
/* roboto-condensed-700 - cyrillic */
@font-face {
  font-display: swap; 
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-condensed-v27-cyrillic-700.woff2') format('woff2');
}
